<div class="add-contact">
    <div class = "add-contact-card">
    <div class = "title"><h1>Add Contact</h1></div>
    <hr />
    <p>First Name:</p>
    <input type="text" [(ngModel)]="firstname" />
    <p>Last Name:</p>
    <input type="text" [(ngModel)]="lastname" />
    <p>Email:</p>
    <input type="text" [(ngModel)]="email" />
    <p>Phone Number:</p>
    <input type="text" [(ngModel)]="phonenumber" />
    <div class="buttons">
        <button class="btn btn-warning" routerLink="" (click)="addContact()">
          Add
        </button>
        <button class="btn btn-danger" routerLink="">Cancel</button>
      </div>
    </div>
</div>
