.add-contact {
    border-style: solid;
  }
  
  .edit-contact-card {
    margin: 30px;
    padding: 20px 0;
    font-size: 25px;
  }
  
  .title {
    font-size: 35px;
    font-weight: bold;
  }
  
  button {
    margin: 10px;
  }
  
  .buttons {
    float: right;
    margin-right: 30px;
  }
  